In [93]:
import pandas as pd
import re
import geonamescache

In [94]:
gc = geonamescache.GeonamesCache()
countries = [country for country in gc.get_countries_by_names().keys()]
cities = gc.get_cities()
cities = [cities[city_index]['name'] for city_index in cities.keys()]

In [95]:
headlines = []

with open("headlines.txt") as f:
    for headline in f:
        headlines.append(headline)

In [103]:
city_regexp = r"(\b" + r"\b|\b".join(cities) + r"\b)"
country_regexp = "(" + "|".join(countries) + ")"

city_regexp = re.compile(city_regexp, flags=re.IGNORECASE)
country_regexp = re.compile(country_regexp, flags=re.IGNORECASE)

In [108]:
data = []

cities = []
parsed_headlines = []
countries = []

for headline in headlines:
    city = re.search(city_regexp, headline)
    country = re.search(country_regexp, headline)
    
    if city:
        city = city.group()

    if country:
        country = country.group()

    cities.append(city)
    countries.append(country)
    parsed_headlines.append(headline[:-1])

In [109]:
df = pd.DataFrame({'Headline': parsed_headlines, 'Country': countries, 'City': cities})

In [110]:
df.head()

                                  Headline Country           City
0                 Zika Outbreak Hits Miami    None          Miami
1          Could Zika Reach New York City?    None  New York City
2        First Case of Zika in Miami Beach    None             of
3  Mystery Virus Spreads in Recife, Brazil  Brazil         Recife
4  Dallas man comes down with case of Zika    None         Dallas